<h1>Public::Posts#index</h1>

<div class="container">
  <div>
    <%= link_to "新規投稿", new_post_path, class: 'btn btn-success' %>
  </div>
  <div class="row">
    <div class="col-auto">
      <%= @post_texts.each do |post_text| %>
        <%= post_text.title %>
      <% end %>
    </div>
  </div>
</div>