<h1>Public::Homes#top</h1>
<p>Find me in app/views/public/homes/top.html.erb</p>

<div class="container">
  <div class="row justify-content-center">
    <div class="col"></div>
    <div class="col-auto align-self-center">
      <h1><strong>プログラミングノート</strong><h1>
    </div>
    <div class="col"></div>
  </div>
</div>